
@{
    ViewData["Title"] = "Index";
}
@model Settings

<form asp-controller="Settings" asp-action="ChangeDatabase" method="post">
    <select name="databaseType" asp-for="DatabaseType" asp-items="Html.GetEnumSelectList<EDatabaseType>()"></select>


    <button type="submit">Güncelle</button>
</form>

