@{
    ViewData["Title"] = "Index";
    var menu = ViewBag.menu as BookComposite;
}
@section Scripts
{
    <script>
        $(document).ready(function () {

            $("ul").hide();

            $(".menu").click(function (e) {

                e.preventDefault();

                $(this).parent().next().toggle();

            })

        })
    </script>

}
<form asp-controller="CategoryMenu" asp-action="Index" method="post">

    <select name="categoryId" asp-items="ViewBag.selectList"></select>
    <input type="text" name="bookName" />
    <input type="submit" value="Save" />
</form>

<div class="row mt-5">

    <div class="col-md-4">

        <div class="card bg-light">

            <div class="card-header">
                Toplam kitap(@menu.Count())
            </div>

            <div class="card-body">

                @foreach (var item in menu.Components)
                {
                    @Html.Raw(item.Display())
                }
            </div>
        </div>
    </div>
</div>