@{
    ViewData["Title"] = "AddWatermark";
}
<form asp-controller="Home" asp-action="AddWatermark" method="post" enctype="multipart/form-data">

    <input type="file" name="image" />

    <button type="submit">Kaydet</button>
</form>